doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Windows 10 Anniversary

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/sty.css')

  body
    
    article

      section
        h1 Windows 10 Anniversary 2017
        p Disusun Oleh :
        ul
          li Ginanjar Priadi
          li Hasbi Yudin Matondang
          li Jefri Hari Christian Manurung
          li Anjas Pangestu

      section
        h2 Deskripsi Windows 10
        p Windows 10 adalah sistem operasi komputer pribadi yang dikembangkan dan dikeluarkan oleh Microsoft sebagai bagian dari keluarga sistem operasi Windows NT. Ini secara resmi diluncurkan pada bulan September 2014 setelah demo singkat di Build 2014.
        h3 Sumber : <a href="https://en.wikipedia.org/wiki/Windows_10">Wikipedia</a>  

      section
        h2 Keunggulan Windows 10 Anniversary Update
        h3 INK 
        p Keamanan menjadi topik penting bagi perangkat PC, untungnya Microsoft menyadari hal itu. Karenanya dalam pembaruan ini mereka membawa fitur Windows Hello.

      section
        h2 Keunggulan Windows 10 Anniversary Update
        h3 Cortana
        p Kemampuan Cortana kian ditingkatkan. Asisten digital ini kini dapat digunakan pada mode lockscreen. Pengguna dapat menanyakan sesuatu, memintanya memainkan musik, membuat pengingat dan sebagainya tanpa perlu melaukannya di layar desktop.

      section
        h2 Keunggulan Windows 10 Anniversary Update
        h3 Security
        p Keamanan menjadi topik penting bagi perangkat PC, untungnya Microsoft menyadari hal itu. Karenanya dalam pembaruan ini mereka membawa fitur Windows Hello.

      section
        h2 Bug Windows 10 Anniversary Update
        h3 Error: 0x800F0922 (Couldn’t Connect to Windows Update Servers) 
        p Ini adalah salah satu kesalahan umum yang mungkin dihadapi saat men-download atau menginstal pembaruan Anniversary. Seperti yang Anda tahu dari deskripsi kesalahan, kesalahan ini disebabkan ketika sistem Windows Anda tidak dapat terhubung ke update server Windows.

      section(data-bespoke-hash='named-route')
        h2 Bug Windows 10 Anniversary Update
        h3 Error: 0x80200056 (Accidental Restart While Installing the Update)
        p Error in akan muncul ketika ada restart disengaja atau sign-out selama prosedur pembaruan instalasi Anniversary. Meskipun ini mungkin tampak menakutkan, itu adalah tidak ada yang besar. Hanya restart sistem anda dan mencoba untuk menginstal pembaruan lagi. Tentu saja, merestart atau matikan sistem Windows Anda saat pembaruan sedang dalam proses  dapat merusak file sistem dan data lainnya.

      section
        h2 Bug Windows 10 Anniversary Update
        h3 Error: Failure to Complete Anniversary Update Installation – Undoing Changes
        p Kesalahan ini adalah umum ketika Anda mencoba untuk memperbarui laptop lama atau notebook. Meskipun tidak ada solusi resmi yang tersedia, banyak pengguna melaporkan bahwa mematikan, mencabut kabel listrik dan kemudian mencabut baterai selama beberapa menit memecahkan masalah, jadi anda bisa mencobanya.

    script(src='build/build.js')