doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Windows 7 Anniversary

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/sty.css')

  body
    
    article

      section
        h1 Windows 10 Anniversary 2017
        p Disusun Oleh :
        ul
          li Ginanjar Priadi
          li Hasbi Yudin Matondang
          li Jefri Hari Christian Manurung
          li Anjas Pangestu

      section
        h2 Deskripsi Windows 10
        p Windows 10 adalah sistem operasi komputer pribadi yang dikembangkan dan dikeluarkan oleh Microsoft sebagai bagian dari keluarga sistem operasi Windows NT. Ini secara resmi diluncurkan pada bulan September 2014 setelah demo singkat di Build 2014.
        h3 Sumber : <a href="https://en.wikipedia.org/wiki/Windows_10">Wikipedia</a>  

      section
        h2 Keunggulan Windows 7 Anniversary Update
        h3 INK 
        p Keamanan menjadi topik penting bagi perangkat PC, untungnya Microsoft menyadari hal itu. Karenanya dalam pembaruan ini mereka membawa fitur Windows Hello.

      section
        h2 Keunggulan Windows 7 Anniversary Update
        h3 Cortana
        p Kemampuan Cortana kian ditingkatkan. Asisten digital ini kini dapat digunakan pada mode lockscreen. Pengguna dapat menanyakan sesuatu, memintanya memainkan musik, membuat pengingat dan sebagainya tanpa perlu melaukannya di layar desktop.

      section
        h2 Keunggulan Windows 7 Anniversary Update
        h3 Security
        p Keamanan menjadi topik penting bagi perangkat PC, untungnya Microsoft menyadari hal itu. Karenanya dalam pembaruan ini mereka membawa fitur Windows Hello.

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')